    pre {
          tab-size: 8;
      }

      @media screen and (max-width: 768px) {
          .side-collapse-container{
              width:100%;
              position:relative;
              left:0;
              transition:left .4s;
          }
          .side-collapse-container.out{
              left:200px;
          }
          .side-collapse {
              top:50px;
              bottom:0;
              left:0;
              width:200px;
              position:fixed;
              overflow:hidden;
              transition:width .4s;
          }
          .side-collapse.in {
              width:0;
          }
      }

      .navbar{
        font-family: cambria;
        font-size: 16px;
      }

      .dropdown-menu>li>a{
        color: #800000;
        font-weight: bold;
      }

      .dropdown-menu>li>a:hover {
          color: #bd0505;
          text-decoration: none;
          background-color: #7e7e7e;
      }
      @media (max-width: 767px){
      .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
          color: #800000;
      }
      }

      .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
          color: #800000;
          background-color: #7e7e7e;
      }

      .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
          color: #bd0505;
          background-color: transparent;
      }

      .dropdown-menu>li>a{
        color: #800000;
        font-weight: bold;
      }

      .dropdown-menu>li>a:hover {
          color: #bd0505;
          text-decoration: none;
          background-color: #7e7e7e;
      }

      .navbar-inverse .navbar-nav>li>a{
        color: #800000;
        font-weight: bold;
      }

      .navbar-inverse{
        background-color: #a6a6a6;
        border-color: #a6a6a6;
      }



      .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
          color: #800000;
          background-color: #7e7e7e;
      }
